a {
      color: #000000;
      font-weight: 200;
}

a:hover {
    color: #BE1622;
    font-weight: 400;
}

body {
    font-family: montserrat;
}
p {
    padding: 0;
}

h2{
  color: #BE1622;
  margin: 30px 0px 0px;
}

ul { 
    padding-left: 0px;
    margin-left: 0px; 
    }

li {   list-style:none;
      margin-left: 1rem; 
    }


/*p {  padding-left:15px; margin-left: 0px; }*/

.h4, h4 {
    font-size: 1.5rem;
    margin: 1.5rem 0rem 0.5rem;
}

div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-tata  {
width: 80%;
height: 80%;
position: absolute;
bottom: 0;
right: 0;
left: 0;
top: 0;
margin: auto;
}

.img-fluid  {
  display: flex;
  max-width: 100%;
  padding: 2.5rem 0rem;
  /*height: -webkit-fill-available;*/
}

/* novo menu */

.bg-light {
    background-color: #BE1622!important;
    font-weight: 400;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
   color: #000000;}	

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 700;
}

.dropdown-menu {
      border: NONE;
}

.container-red { 
    background-color: #BE1622!important;
    color: #ffffff;
}

/* tio´s tips 



embed[type="image/svg+xml"] {
    vertical-align: middle;
    top: -1px;
    position: relative;
    margin: 10px 0;
    margin-right: 8px;
}*/

.loguinhos {
      min-width:400px; 
      width: auto;
      float: left;
      widht="300" height="200"
}
